* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color: #4f4f4f;
}

@font-face {
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 600;
    src: url("./fonts/audiowide.ttf") format("truetype");
    font-display: swap;
}

a {
    text-decoration: none;
}

p {
    max-width: 75ch;
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
